-i https://pypi.org/simple
adal==1.2.0
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.1
docker-pycreds==0.3.0
docker==3.5.1
enum34==1.1.6 ; python_version <= '2.7'
google-auth==1.6.0
idna==2.7
kubernetes==8.0.0
more-itertools==4.3.0
oauthlib==2.1.0
pluggy==0.8.0
py==1.7.0
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycparser==2.19
pyjwt==1.6.4
pytest==3.10.1
python-dateutil==2.7.5
pyyaml==3.13
requests-oauthlib==1.0.0
requests==2.20.1
rsa==4.0
six==1.11.0
urllib3==1.24.1
websocket-client==0.54.0
